*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
background: linear-gradient(40deg, rgba(148,211,220,1) 12%, rgba(16,193,230,1) 37%, rgba(98,92,232,1) 98%);
color:white ;

 }
 .location,
 .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

 }
 .temperature{
    flex-direction: column;
 }
 .degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 .degree-section span{
    margin: 10px;
    font-size: 30px;
 }
 .degree-section h2{
    font-size: 40px;
 }